# The user named here will be responsible for every file in the repository.
* @ricardociotto @OtherUser1 @OtherUser2

# Owner for the documentation folder.
docs/ @ricardociotto @user

# Owner for the frontend code.
frontend/ @ricardociotto @user1

# Owner for specific files such as the README file.
README.md @ricardociotto @user2
